<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h2>
        Hello <%= @user.first_name %>,
        <br>
        <small>
          you are currently unable to edit your account<br>
          <small>If you need anything edited, please contact your administrator.</small>
        </small>
      </h2>
    </div>
  </div>
</div>
