<!-- Modal Form-->
<div>
<!--
  <div class="card">
    <div class="card-body text-center">
-->
      <% if (title == 'Deactivate' || title == 'Delete') %>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-delete">
          <%= title %> 
        </button>
      <% elsif title == 'Key' %>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-secondary">
          <i class="fa fa-key fa-fw"></i>
        </button>
      <% else %>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">
          <i class="fa fa-wrench fa-fw"></i><%= title %> 
        </button>
      <% end %>
      <!-- Modal-->
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="exampleModalLabel" class="modal-title"><%= title %></h4>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <%= render "partials/forms/#{form}" %>
            </div>
          </div>
        </div>
      </div>
<!--
    </div>
  </div>
-->
</div>