<div id="complete" class="collapse">
  <table class='add-margin'>
    <colgroup>
      <col span="1" style="width: 35%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 60%;">
    </colgroup>
    <thead>
      <tr class="bottom-line">
        <th>Question</th>
        <th></th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody class="bottom-line">
      <div class="field">
        <div class="form-group-material">
          <!-- Question A -->
          <tr>
            <td>
              Final Comments
            </td>
            <td></td>
            <td>
              <%= @observation.complete.final_comments %>
            </td>
          </tr>
        </div>
      </div>

    </tbody>
  </table>
</div>