<ul class="list-unstyled">
  <% ObservationFormController::STEPS_WITH_TITLES.each do |step_with_title| %>


    <%# [step] variable (current step) is passed automatically from the controller it seems %>
    <% step_item = step_with_title[0] %><%# couldn't think of a good name cause [step] was taken... %>
    <% title = step_with_title[1] %>
    <% step = @observation.send("#{step_item}") %>

    <li>
      <% if !step.nil? %>
        <h2>
          <a href="#<%= "#{step_item}" %>" data-toggle="collapse">
            <%= title %>
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          </a>
        </h2>
        <div id="<%= "#{step_item}" %>" class="collapse">
          <%= render "observations/results/#{step_item}" %>
        </div>
      <% end %>
      <hr>
    </li>

  <% end %>
</ul>
