<section class="client">
  <div class="container-fluid">
    <div class="row">
      <!-- Client Profile -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body text-center">
            <h2>This Observation isn't quite finished</h2>
            <h4>Continue where you left off?</h4>
            <div class="row">
              <div class="col-md-2 offset-md-4">
                <%= link_to 'Continue', observation_observation_form_index_path(@observation), class:'btn btn-primary' %>
              </div>
              <div class="col-md-2">
                <%= render partial: "partials/forms/modal-form", locals: {title: "Delete", form: "delete/delete-observation"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>