<% steps_with_titles = ObservationFormController::STEPS_WITH_TITLES %>
<% step_with_title = steps_with_titles.select{|swt| swt[0] == step }[0] %><%# step is automatically passed in by Wicked %>


<h3>
  <%= step_with_title[1] %>
</h3>

<hr/>
