<%= form_for(@observation.plan, url: wizard_path, method: :put) do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form_header" %>

  <div class="field">
    <div class="form-group-material">
      
    </div>
  </div>

  <div class="actions">
    <div class="row">
      
    </div>
  </div>
<% end %>
