<!-- Alerts -->
<% if notice %>
  <p class="alert alert-success alert-dismissable fade show">
    <%= notice %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-dismissable fade show">
    <%= alert %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </p>
<% end %>