<!-- Main Theme Section -->
<div class="page home-page">
  <%= render "partials/navbar" %>

  <div class="page-content d-flex align-items-stretch">
    <%= render "partials/sidebar" %>
    <div id="content", class="content-inner">
      <%= content_for?(:content) ? yield(:content) : yield %>
      <%= render "partials/footer" %>
    </div>
  </div>

</div>