
<div class="col-lg-4">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Search</h3>
    </div>
    <div class="card-body">
      <%= form_tag(path, :method => "get", id: "search-form") do %>
        <%= render 'search-form' %>
        
        <div class="row" >
          <div class="col-6">
            <%= submit_tag "Search", :name => nil, class:'btn btn-primary add-margin' %>
          </div>
          <div class="col-6">
            <%= link_to "Clear", path, class:'btn btn-secondary add-margin' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>