<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h4">FIRST_NAME LAST_NAME</h1>
      <p>ROLE</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active"> <a href="./"><i class="fa fa-home"></i>Home</a></li>
    <li> <a href="teachers.html"> <i class="fa fa-users"></i>Teachers</a></li>
    <li> <a href="schools.html"> <i class="fa fa-graduation-cap"></i>Schools</a></li>
    <li> <a href="observations.html"> <i class="fa fa-eye"></i>Observations</a></li>
    <li><a href="#training-drop" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-pencil-square-o"></i>Trainings </a>
      <ul id="training-drop" class="collapse list-unstyled">
        <li><a href="trainings.html"><i class="fa fa-calendar-check-o"></i>My Trainings</a></li>
        <li><a href="trainings.html"><i class="fa fa-list"></i>All Trainings</a></li>
        <li><a href="trainings.html"><i class="fa fa-plus"></i>New Training</a></li>
      </ul>
    </li>
  </ul>
</nav>