<section class="dashboard-counts">
  <div class="container-fluid">
    <div class="row bg-white has-shadow no-padding-bottom">
      <h1>We're Sorry.</h1>
    </div>
    <div class="row bg-white has-shadow">
      <h2>
        There's been an error and you have not been assigned a role.
        <br>
        Please contact your network administrator
      </h2>
    </div>
  </div>
</section>