





<!-- Page Header-->
<!-- will change this to render different pages in controllers -->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom capitalize"><%= current_user.highestRole %> Dashboard</h2>
  </div>
</header>
<%= render "partials/alerts" %>
<%= render "partials/dashboards/#{current_user.highestRole}"%>
