<!-- Observation Key -->
<table class="bottom-line">
  <colgroup>
    <col span="1" style="width: 50%;">
    <col span="1" style="width: 50%;">
  </colgroup>
  <tr>
    <td>Not observed:</td>
    <td><small>Not delivered nor demonstrated</small></td>
  </tr>
  <tr>
    <td>No relation to lesson:</td>
    <td><small>Lacked connection/alignment</small></td>
  </tr>
  <tr>
    <td>Shows progress:</td>
    <td><small>Showed evidence of improvement</small></td>
  </tr>
  <tr>
    <td>Meets standard:</td>
    <td><small>Met required / stated standard</small></td>
  </tr>
  <tr>
    <td>Exceeds standards:</td>
    <td><small>Performed superior to or beyond the expected standard</small></td>
  </tr>
</table>
<div class="modal-footer">
  <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
</div>