<section class="charts no-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="polar-chart-example card">
          <div class="row">
            <div class="col-md-6 offset-md-4">
              <div class="card-body negative-margin bg-white d-flex align-items-center card-close">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item d-flex align-items-center"><a id="mr-tab1" class="nav-link active" data-toggle="pill" href="#plan">Plan</a></li>
                  <li class="nav-item d-flex align-items-center"><a id="mr-tab2" class="nav-link" data-toggle="pill" href="#presentation">Presentation</a></li>
                  <li class="nav-item d-flex align-items-center"><a id="mr-tab3" class="nav-link " data-toggle="pill" href="#activity">Activity</a></li>
                  <li class="nav-item d-flex align-items-center"><a id="mr-tab4" class="nav-link" data-toggle="pill" href="#assessment">Assessment</a></li>
                  <li class="nav-item d-flex align-items-center"><a id="mr-tab5" class="nav-link" data-toggle="pill" href="#climate">Climate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div id="plan" class="tab-pane fade in active show">
                <h3>Plan</h3>
              </div>
              <div id="presentation" class="tab-pane fade" aria-expanded="true">
                <h3>Presentation</h3>
              </div>
              <div id="activity" class="tab-pane fade">
                <h3>Activity</h3>
              </div>
              <div id="assessment" class="tab-pane fade">
                <h3>Assessment</h3>
              </div>
              <div id="climate" class="tab-pane fade">
                <h3>Climate</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
