<!-- Teacher Analysis -->
<% if !@user.classrooms.empty? %>
  <% if !@user.t_observations.complete.empty? %>
    <section class="charts no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header" >
                <h3>Analysis</h3>
                <div class="card-body negative-margin bg-white d-flex align-items-center card-close">

                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item d-flex align-items-center"><a id="tab1" class="nav-link active" data-toggle="pill" href="#summary">Summary</a></li>
                      <li class="nav-item d-flex align-items-center"><a id="tab2" class="nav-link" data-toggle="pill" href="#most-recent">Most Recent</a></li>
                      <li class="nav-item d-flex align-items-center"><a id="tab3" class="nav-link " data-toggle="pill" href="#polar">Polar</a></li>
                     </ul>
                </div>
              </div>

              <div class="card-body">
                <div class="tab-content">
                  <div id="summary" class="tab-pane fade in active show" aria-expanded="true">
                    <h3>Summary</h3>
                    <canvas id="barChart1"></canvas>
                  </div>
                  <div id="most-recent" class="tab-pane fade">
                    <%= render 'partials/charts/most-recent' %>
                  </div>
                  <div id="polar" class="tab-pane fade">
                    <div class="polar-chart-example" >
                      <h3>Summed Ratings</h3>
                      <canvas id="polarChartExample"></canvas>
                      <h4><small>This chart provides the numerical amount of each rating that this teacher has had.</small></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Generaltes the Charts -->
    <script>
//      Replace with custom data
      bar();
      $('#tab1').on('shown.bs.tab', function (e) {
        bar();
      });
      $('#tab3').on('shown.bs.tab', function (e) {
        polar(<%= @result_array %>);
      });
    </script>
  <% end %>
<% end %>

