<!DOCTYPE html>
<html>
  <%= render "partials/head" %>

  <body>
    <% if controller.controller_name == "sessions" || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
      <%= render "partials/landing_partials/landing" %>
    <% else %>
      <%= render "partials/main" %>
    <% end %>
  </body>
</html>
